div
{
    align-items: center;
}

.DemographicContainer
{
    display:flex;
}

.ProfileImage
{
    /* width: 100px;
    height: 100px;
    border-radius: 50%; */
    /*lex:3;*/
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.ProfileText
{
    /*flex:9;*/
    font-weight: bold;
    font-size: 13pt;
    line-height: 150%;
}